@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
        <div class="row g-5 py-5 row-cols-1 row-cols-lg-2">
          <div class="col order-last order-lg-first">
            <!--Title of App-->
            <h1 class="display-5 fw-bold lh-1 mb-3">
              GeoSphere Generator
            </h1>
            <h4 style="color: var(--dark-color);">ASP.NET Core MVC Object-Oriented Progamming Project</h4>
            <!--Description of App-->
            <h4 class="lead">
                  Explore the captivating world of 3D rendering with an innovative web application – the GeoSphere Generator. Powered by ASP.NET Core MVC and Three.js, this interactive platform lets you effortlessly create and visualize personalized 3D polygons. Immerse yourself in real-time customization, dynamically adjusting parameters to craft unique polygons that come to life right in your browser.
            </h4>
            <!--Things Learned-->
            <ul class="fa-ul pt-2 checklist">
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span
                >C#/.NET Object-Oriented Programming Basics
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span
                >ASP.NET Core MVC Fundamentals
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span
                >Javascript Fundamentals
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span
                >Javascript DOM Manipulation
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span
                >Javascript Functions
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span
                >Three.js Basics
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check-square"></i></span
                >User Interaction and Real-Time Updates
              </li>
            </ul>
            <div>
              <a type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2" asp-area="" asp-controller="Circle" asp-action="App">Try It Out!</a>
            </div>
          <div class="container my-4">
             <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-4 ">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" />
          </div>
                  <div class="col-4 ">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg" />
          </div>
                  <div class="col-4 ">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/threejs/threejs-original-wordmark.svg" />
          </div>
               </div>
              </div>
          </div>
          <div class="col">
            <img
              class="img-fluid center-block d-block mx-auto"
              src="~/img/wireframe-sphere.jpeg"
              alt="App Logo"
              width="700"
              height="500"
            />
          </div>
        </div>
      </div>
